* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}


header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: rgba(255, 255, 255, 0.89);
    border-bottom: solid 6px;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.20);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#logo{
   
}

#firstlist {

    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.listofhead {

    list-style: none;
    padding: 0 20px;
    position: relative;
    

}

.listofhead a {

    text-decoration: none;
    font-size: 1.1rem;
    font-weight: ;
    color: rgb(0, 0, 0);
    transition: 0s ease;
}

.listofhead a:hover,
.listofhead a.active {
color:rgb(77, 77, 77);
font-weight: 700;
border: solid 3px black;
padding: 5px;
box-shadow: 10px 5px 15px rgb(0, 0, 0, 0.20);


} 



.sidebar {
    position: absolute;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    line-height: 60px;
    
    
}

.productContainer {

    text-align: center;
    display: flex;
    flex-direction: ;
    flex-wrap: wrap;
    padding: 40px 400px;
   

}

.product {
    
    border: 4px solid black;
    width: 23%;
    min-width: 250px;
    padding: ;
    display:flex;
    
}

