* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{

background: rgb(0, 0, 0);

display: flex;
height:100vh;
justify-content: center;
align-items: center;


    
}


button{
    height: 48px;
    width: 160px;

    font-family: "Roboto";
    font-size: 18px;
    color: white;

    letter-spacing: 1.5px;
   
    word-spacing: 2px;

    background-color: rgb(0, 0, 0);
    border: 3px solid darkorange;
    

    /* transition: transform 0.8s ease,box-shadow 0.8s ease, box-shadow 0.8s ease; */

    transition: transform 0.3s ease, box-shadow 0.3s;

}

button:hover{
    
    box-shadow: 0 10px 20px -8px rgb(217, 255, 0);
    border: 3px solid rgb(217, 255, 0);
    transform: translateY(-0.40em);
    transition-timing-function: ease;
    

}